body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.carousel {
  width: 500px;
  height: 100%;
  max-width: 50vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 10px 10px;
}

.carousel__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__contents {
  display: block;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel__chevron {
  width: 12px;
}

.carousel__button {
  border: none;
  background: transparent;
  cursor: pointer;
  top: 50%;
  position: absolute;
}

.carousel__button-left {
  left: -40px;
}

.carousel__button-right {
  right: -40px;
}

.carousel__nav {
  min-height: 15px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.carousel__indicator {
  border: none;
  height: 15px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5%;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

.carousel__image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.current-slide {
  display: block;
}