:root {
  --text-color: #061c47;
  --background-color: #f0f4fc;
  --ui-color: #34568b;
  --inactive-nav-color: #b0c4de;
}

@font-face {
  font-family: 'tubularregular';
  src: url('./font_files/Tubular\ Regular.ttf') format('ttf'),
       url('./font_files/tubular_regular-webfont.woff2') format('woff2'),
       url('./font_files/tubular_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'tubularregular', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--background-color);
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 1em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  background: none;
  border: 2px solid var(--ui-color);
  border-radius: 20px;
  background: rgba(52, 86, 139, 0.1);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background 0.3s, color 0.3s;
}

#generate-sim {
  margin: 0.5em;
}

#generate-sim:hover {
  background: var(--ui-color);
  color: white;
}

.carousel {
  width: 500px;
  height: 100%;
  max-width: 50vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 10px;
  background: rgba(52, 86, 139, 0.05);
  border: 0.2em solid var(--ui-color);
  border-radius: 20px;
}

.carousel__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__contents {
  display: block;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel__chevron {
  width: 25px;
}

.carousel__button {
  border: none;
  background: transparent;
  cursor: pointer;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.carousel__button-left {
  left: -55px;
}

.carousel__button-right {
  right: -55px;
}

.attraction-section, .appearance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.attraction-section > div > ul,
.appearance {
  display: flex;
  flex-flow: row;
  padding: 0;
  border: 0;
}

.attraction-section > div > ul > li, .appearance > li {
  list-style-type: none;
  padding: 0.4em;
  margin: 0;
}

.appearance > li > img {
  height: 2em;
  width: 2em;
}

.carousel__nav {
  min-height: 15px;
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel__nav::-webkit-scrollbar {
  display: none;
}

.dot-indicator {
  display: inline-block;
  margin: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--inactive-nav-color);
}

.dot-active {
  background-color: var(--ui-color);
}

.personality > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trait-dots {
  flex: 2;
}

.trait-left, .trait-right {
  flex: 1;
}

.carousel__indicator {
  flex: 0 0 auto;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--inactive-nav-color);
  margin: 0 5%;
  cursor: pointer;
  transition: background 0.3s;
}

.carousel__indicator.current-slide {
  background-color: var(--ui-color);
}

.carousel__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.4em;
  position: absolute;
  overflow-y: scroll;
  border: 0.2em solid var(--ui-color);
  background: rgba(52, 86, 139, 0.1);
  border-radius: 20px;
}

.carousel__card {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.carousel__image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.current-slide {
  display: block;
}
